.button{
    font-size: 3rem;
    font-weight: bold;
    padding: 3rem 0;
    text-align: center;
    border-radius: $button-border-radius;
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    color: white;
    @include shadow-box;
    position: relative;
    z-index: 1;
    cursor: pointer;
    &::after{
        content: "";
        position: absolute;
        top: 0%;
        bottom: 0%;
        right: 0%;
        left: 0%;
        background: linear-gradient(to bottom right, lighten($color-secondary, 8), lighten($color-primary, 8));
        box-shadow: 0.3rem 0.3rem 1rem darken($color-shadow, 20);
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
        border-radius: $button-border-radius;
        cursor: pointer;
    }
    &:hover{
        &::after{
            opacity: 1;
        }
    }
}