@font-face {
    font-family: 'shrikhandregular';
    src: url('../font/shrikhand-regular-webfont.woff2') format('woff2'),
         url('../font/shrikhand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'roboto', sans-serif;
    font-size: 1.6rem;
    letter-spacing: -0.1rem;
}

h1{
    font-size: 3.5rem;
    font-weight: bold;
}

.menu-heading__title{
    font-family: 'shrikhandregular';
    font-size: 6rem;
}