$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-footer: #313131;
$background-color: #f6f6f6;
$color-shadow: #b6b6b6;
$button-border-radius: 5rem;
$like-size: 4rem;
$anim-heading-delay: 1.5s;
$anim-item-delay: 400ms;
$anim-heading-duration: 1s;
$anim-item-duration: 600ms;

$breakpoints: (
    min-tablet: 481px,
    max-tablet: 1024px,
    desktop: 1025px,
);