.footer{
    background-color: $color-footer;
    width: 100%;
    &-list{
       list-style: none;
        &__item{
          
            a{
                text-decoration: none;
                list-style: none;
                color: white;
            }
        }
    }
}

