.footer{
    background-color: $color-footer;
    width: 100%;
    margin: 0;
    padding: 5rem 0;
    &-logo{
        @include box-sizing;
        margin-bottom: 5rem;
    }
    &-list{
       list-style: none;
       @include box-sizing;
       line-height: 5rem;
       margin-bottom: 2rem;
        &__item{
            position: relative;
            font-size: 2rem;
            @include tablet{
                font-size: 2.8rem;
            }
            @include desktop{
                font-size: 2.8rem;
            }
            a{
                text-decoration: none;
                list-style: none;
                color: white;
            }
            &__logo{
                width: 3rem;
                font-size: 1rem;
                @include tablet{
                    font-size: 2.5rem;
                }
                @include desktop{
                    font-size: 2.8rem;
                }
            }
            span{
                margin-left: 2rem;
            }
        }
    }
}

